body{
    background-color:#e6f3ff;
    padding: 15px;
}

.tagline{
    color: blueviolet;
    font-style: italic;
}

img{
    float: right;
    margin-top: -70px;
}

.pricetopic{
    padding-top: 150px;
    font-size: 25px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 50px;

}

td,th{
    text-align: left;
    padding: 16px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    position: fixed;
    padding: 3px;
    background-color: orange;
    color:black;
    bottom: 0;
    left: 0;
    width: 100%;

}