.tagline{
    color: blueviolet;
    font-style: italic;
}

img{
    float: right;
}

.pricetopic{
    margin-top: 120px;
    font-size: 25px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    width: 100%;

}

td,th{
    text-align: left;
    padding: 8px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top: 15px;
    padding: 3px;
    background-color: orange;
    color:black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}