.container{
    width: 500px;
    margin: 25px auto;
}

form{
    padding: 20px;
    background-color:beige;
    color: black;
    font-weight: 500;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}